.dropdownExtension {
  max-width: 300px;
  display: none;
  position: absolute;
  z-index: 9999999;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdownExtension ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownExtension ul li {
  margin: 0;
}

.dropdownExtension a {
  cursor: pointer;
  display: block;
  text-decoration: none !important;
  padding: 7px 10px;
  background: lightgrey;
  border: 1px solid black;
  color: black !important;
}

.dropdownExtension a:hover {
  background: yellow;
  color: red;
}